@font-face {
    font-family: "montserrat";
    src: url("C:\fonts\montserrat-medium.woff2") format("woff2"),
         url("C:\fonts\montserrat-medium.woff") format("woff"),
font-weight: 700

@font-face {
    font-family: "montserrat";
    src: url("C:\fonts\montserrat-regular.woff2") format("woff2"),
         url("C:\fonts\montserrat-regular.woff") format("woff"),
font-weight: 700

@font-face {
    font-family: "montserrat";
    src: url("C:\fonts\montserrat-semibold.woff2") format("woff2"),
         url("C:\fonts\montserrat-semibold.woff") format("woff"),
font-weight: 700;